<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.cgwallet.app.cgwallet100</key>
		<string>cgpp</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution: ZHSHOCK Technology Co.,Ltd.</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>FKT2MS2R6W</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
